{% extends 'layouts/main.html' %}

{% block content %}

{% if request.user.is_authenticated %}
<p>hello {{request.user}}</p>
<a href="{% url 'logout-user' %}">Logout</a>
{% endif %}



<style>
  .home{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
</style>

<div class="home">

  <div>
    {% include 'base/topic_component.html'%}
  </div>

<div class="">
  {% include 'base/feed_component.html' %}
</div>

<div class="">
  {% include 'base/activity_component.html' %}
</div>

</div>

{% endblock %}
