{% extends 'layouts/main.html' %}

{% block content %}

<style>
  .home{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
</style>

<div class="home">

  <div>
    <h4>Browse Topics</h4>
    <hr>
    <p>
      <a href="{% url 'home' %}">All</a>
    </p>
    {% for topic in topics %}
    <p>
      <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
    </p>

    {% endfor %}
  </div>

<div class="">
  {% for rooms in room %}
  <p>{{rooms.name}}</p>
  <p>{{rooms.description}}</p>
  {% if request.user == rooms.host %}
  <a href="{% url 'update-room' rooms.id %}">Edit</a>
  <a href="{% url 'delete-room' rooms.id %}">Delete</a>
  {% endif %}
  <a href="{% url 'create-room' %}">Create</a>

  <hr>
  {% endfor %}
</div>

</div>

{% endblock %}
